.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.background-image {
  background-image: url('./images/eys.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
}

.content {
  margin: 10vh auto; 
  padding: 20px; 
  background-color: rgba(255, 255, 255, 0.9); 
  border-radius: 0px; 
  width: 90%; 
  max-width: 1000px;
}

.content h1 {
  color: rgb(3, 29, 154); /* Text color for the heading */
  text-shadow: 1px 1px 1px rgba(118, 77, 1, 1.0); /* Add a text shadow with a different color */
  font-family: 'Times New Roman', Times, serif; 
  font-weight: normal;
  text-align: center;
}


.container {
  display: flex;
  justify-content: space-around; /* Distribute space between items */
  width: 100%;
  padding: 20px; /* Padding around the entire container */
  box-sizing: border-box;
}

.box {
  width: 50%; /* 50% width minus padding and margin */
  height: 100px;
  background-color: #61dafb;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 10px; /* Margin between boxes */
  padding: 10px; /* Inner padding */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.box.expanded {
  height: 200px;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  display: inline;
  margin: 0 10px;
}

.menu a {
  color: #61dafb;
  text-decoration: none;
}

.menu a:hover {
  text-decoration: underline;
}